/*-----------------------STYLE GÉNÉRAUX---------------------------*/

body{
background-color: #CAF0F8;    
}

header {
    background-color: #0077B6;
}

/*-----------------------BANNIÈRE---------------------------*/

/*bannière étudiante début*/

.banner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03045E;
    color: white;

    .link{
        margin-left: 5px;
        color: #0077B6;
        &:hover{
        color: #ffffff;
    }
    }
        
    .bi-x-lg{
        margin-left: 20px;  
        cursor: pointer;  
        :hover{
            color: #0077B6;
           }
        } 
}

/*bannière étudiante fin*/

/*-----------------------HEADER---------------------------*/

/*Menu de navigation début*/

.full-menu {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .vertical-line {
        border-left: 1.5px solid black;
        height: 25px;
    }
    .pages{
        color: #001D3D;   
        &:hover{
            color: #ffffff;
           } 
        }    
        
}

.donation {
    background-color: #5786FF;
    border: none;
    color: white;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    &-hamburger{
        background-color: #5786FF;
        border: none;
        color: #ffffff;    
    }
    &:hover{
    color: #ffffff; 
    background-color: #03045E;   
    }
}

.language {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    z-index: 9;
    &-hamburger{
        width: 25px;
        height: 25px;  
    }
}

.dropdown-menu{
    text-align: center;    
    background-color: #CAF0F8;
    }

/*Menu de navigation fin*/

/*Navbar responsive ordi début*/

@media screen and (min-width: 1200px) { 
    .mobile-menu { display: none; }
}

  @media screen and (max-width: 1200px) { 
    .mobile-menu { display: none;} 
        .banner{
            font-size: 14px;
            .text{
                margin: 5px;
            }
            .link{
                margin: 5px;
            }
            .bi-x-lg{
                margin: 5px;
            }
        }    
    
  }

/*Navbar responsive ordi fin*/

/*Navbar responsive tablette début*/

  @media screen and (max-width: 768px) { 
    .full-menu { display: none; }
    .mobile-menu{display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner{
        font-size: 12px;
  }
}

/*Navbar responsive tablette fin*/

/*Navbar responsive mobile début*/

  @media screen and (max-width: 375px) { 
    .full-menu { display: none; }
    .mobile-menu{display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-hamburger-menu{
        margin: 5px;    
        }
    }
    .banner{
        font-size: 10px;
        .text{
            margin: 5px;
        }
        .link{
            margin: 5px;
        }
        .bi-x-lg{
            margin: 5px;
        }
    }
  }

/*Navbar responsive mobile fin*/

.hero{
display: flex; 
justify-content: space-around;   
margin-top: 50px;
.carousel{   
width: 500px;
height: 500px;
}
.region{
    width: 400px;
    height: 400px;    
}
}



